h2{
    background: linear-gradient(90deg, rgba(17,30,108,1) 30%, rgba(128,66,123,1) 69%, rgba(120,47,71,1) 85%);
    color: white;
    height: 30px;
}
.table--container {
    display: flex;
    justify-content: center;
    background: white;
    flex-direction: column;
    width: 1306px;
    margin-left: 30px;
    margin-top: 13px;
  }
    
  table {
    height: 200px;
    background: white;
    margin-top: 10px;
    border-collapse: collapse;
  }
    
  th {
    border-bottom: 1px solid #969696;
    color: #323232;
  }
    
  td {
    color: #969696;
  }
  .td--transa {
    color: #111e6c;
  }