.opfiltro--container{
    display: flex;
    background: white;
    color: #111e6c;
    flex-direction: column;
    margin-top: 12px;
    border-radius: 5px;
    margin-right: 30px;
    height: 209px;

}
.opfiltro--filtrar{
    background: white;
    display: flex;
    margin-top: 10px;
    width: 250px;
    margin-right: 30px;
    border-radius: 5px;
    height: 30px;
}
.opfiltro--filtrar--text{
    color: #111e6c;
    margin-left: 85px;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.opfiltro--close{
    color: #111e6c;
    margin-left: 106px;
}
.opfiltro--btn{
    color: white;
    background: #ef434e;
    border-radius: 17px;
    width: 120px;
    height: 40px;
    margin-left: 74px;
    border: none;
    margin-top: 55px;
    font-weight: bold;
    font-size: medium;
}